.my_work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 4rem;
}
.mywork-title{
    text-align: center;
}
 .mywork-title h1{
    font-size: 2.5rem;
    background: linear-gradient(90deg, #fff176, #fdd835, #fbc02d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    position: relative;
    text-align: center;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

}
.mywork-container img{
    box-sizing: border-box;
    width: 419px;
    height: 250px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 20px;
    /* object-fit: contain; */
}
.mywork-container img:hover{
    transform: scale(1.1);
    border: 4px solid yellow;
    border-radius: 10px;
    transition: 0.2s;
}

.mywork-showmore{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.6s;
} 
.mywork-showmore:hover{
    /* background-color: white; */
    /* color: black; */
    gap: 1rem;
    transition: 0.3s;
}