*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background: #161513;
  color: white;
  font-family: "Outfit", sans-serif;
  
}
html{
  scroll-behavior: smooth;
}
.whatsapp-float {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #25D366;
  color: white;
  width: 55px;
  height: 55px;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 999;
  transition: 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background: #1ebe5d;
}